.robot-card {
    background-color: rgb(33, 143, 216);
    text-align: center;
    border: grey solid 1px;
    padding: 0rem;
    width: 26rem;
    height: 46rem;
    display: inline-grid;
    margin: 1rem 2rem;
    box-shadow: 3px 4px #1c4dec
}

.robot-image {
    justify-self: center;
    height: auto;
    width: auto;
    margin: 0rem 0rem;
    display: block
  }

.stats-card{
    text-align: left;
    border: grey solid 1px;
    /* padding: 1rem; */
    width: 9rem;
    height: 15rem;
    /* display: grid; */
    margin: 1rem 2rem;
    /* box-shadow: 3px 4px #1c4dec */
}

.moves-card{
    text-align: right;
    border: grey solid 1px;
    /* padding: 1rem; */
    width: 9rem;
    height: 15rem;
    /* display: grid; */
    margin: 1rem 2rem;
    /* box-shadow: 3px 4px #1c4dec */
}

.info-grid{
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: center
}

.main-grid{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center
}